<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <button mat-raised-button [disabled]="!dataForm.isFormValid" (click)="saveAsync()" color="primary">Save</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Individual</mat-card-title>
  <mat-card-content>
    <form class="example-form" [formGroup]="dataForm.formGroup">
      <div class="form-fields-row">
        <div class="form-field">
          <drm-form-control-with-validation [formGroup]="dataForm.formGroup" [validatedControl]="dataForm.getValidatedControl('firstName')">
            <mat-form-field>
              <input matInput type="text" class="form-control" placeholder="Enter first name" formControlName="firstName">
            </mat-form-field>
          </drm-form-control-with-validation>
        </div>

        <div class="form-field">
          <drm-form-control-with-validation [formGroup]="dataForm.formGroup" [validatedControl]="dataForm.getValidatedControl('lastName')">
            <mat-form-field>
              <input matInput type="text" class="form-control" placeholder="Enter last name" formControlName="lastName">
            </mat-form-field>
          </drm-form-control-with-validation>
        </div>

        <div class="form-field">
            <drm-form-control-with-validation [formGroup]="dataForm.formGroup" [validatedControl]="dataForm.getValidatedControl('birthDate')">
              <mat-form-field>
                <input [matDatepicker]="birthDatePicker" matInput type="text" class="form-control" placeholder="Enter birth date" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthDatePicker></mat-datepicker>
              </mat-form-field>
            </drm-form-control-with-validation>
          </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

Individual: {{ individual | json }}